.form-group {
  margin-bottom: 15px;
}

label {
  display: block; /* Размещаем label на отдельной строке */
  margin-bottom: 5px;
  font-weight: bold; /* Делаем текст label жирным */
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Важно, чтобы padding не увеличивал ширину элемента */
}

.errorMessage {
  color: red;
  font-size: 0.8em;
  display: none; /* Изначально скрываем все сообщения об ошибках */
}
