.gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
h1 {
    color: rgb(66, 140, 172);
}


button {
    width: 200px;
    height: 50px;
    background-color: rgb(66, 140, 172);
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
}

img {
    transition: tranxsform 0.3s ease-in-out;
}
