body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.7304147465437788) 22%, rgba(159,45,253,0.8525345622119815) 85%);
    background-repeat:no-repeat ;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: white
}

.container {
    padding: 40px;
    border: solid 1px transparent;
    border-radius: 40px;
    width: 25%;
    height: 70%;
    background-color: aliceblue;

}
#inputField {
    width: 300px;
    height: 30px;
    outline: none;
    border: solid 1px lightgray;
    border-radius: 5px;
}

#push {
    width: 30px;
    height: 34px;
    font-size: 20px;
    cursor: pointer;

}

.paragraph {
    margin-top: 20px;
    cursor: pointer;
}

.toDo {
    text-align: center;
}